#new_rating.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:style => "margin-top:200px"}
    .modal-content{:style => ""}
      %h2.title-2.uppercase
        %strong
          %i.icon-docs>
          Add a Rating
      .row
        .col-sm-12
          = form_for [@service, @rating] do |f|
            - if @rating.errors.any?
              #error_explanation
                %h2
                  = pluralize(@rating.errors.count, "error")
                  prohibited this rating from being saved:
                %ul
                  - @rating.errors.full_messages.each do |message|
                    %li= message
            .form-group
              %label.col-md-3.control-label
              %br/
              %br/
            .field
              %span.rating
                = f.radio_button :rating, '5', :id=>"rating1", :class=>"rating-input", :name=>"rating-input-1"
                %label.rating-star{:for => "rating-input-1-5"}
                = f.radio_button :rating, '4', :id=>"rating2", :class=>"rating-input", :name=>"rating-input-1"
                %label.rating-star{:for => "rating-input-1-4"}
                = f.radio_button :rating, '3', :id=>"rating3", :class=>"rating-input", :name=>"rating-input-1"
                %label.rating-star{:for => "rating-input-1-3"}
                = f.radio_button :rating, '2', :id=>"rating4", :class=>"rating-input", :name=>"rating-input-1"
                %label.rating-star{:for => "rating-input-1-2"}
                = f.radio_button :rating, '1', :id=>"rating5", :class=>"rating-input", :name=>"rating-input-1"
                %label.rating-star{:for => "rating-input-1-1"}
            = f.label :comment
            %br/
            = f.text_area :comment, :class=>"input-large"
            .actions
              = f.submit
